body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:10px;
}

img{
    width:200px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    background: white;
    border: 1px solid black;
}
.item:hover{
    box-shadow: 0 2px 8px rgba(255,255,255,0.5);
}
.score-comp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}